@tailwind base;
@tailwind components;
@tailwind utilities;



/* help page popup scrollbar */
.modal::-webkit-scrollbar {
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.modal::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: rgba(165, 165, 165, 0.5);
}

.modal::-webkit-scrollbar-thumb:hover {
  width: 15px;
  background: rgba(165, 165, 165, 0.75);
}


.app {
  text-align: center;
  display: grid;
  justify-items: center;
  min-height: 100vh;
  padding: 0; margin: 0;
}
